<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737612668977-pv1gtftu42hflra2qh8i9jiv46anmerr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737612668977-pv1gtftu42hflra2qh8i9jiv46anmerr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>737612668977-0hb3jljbg2gc38mm7gjibfklps7ivv97.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQCvAuomQcgoHFnjOPEiJ0y7JondVQuNg</string>
	<key>GCM_SENDER_ID</key>
	<string>737612668977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earningRight.whilabel</string>
	<key>PROJECT_ID</key>
	<string>whilabel</string>
	<key>STORAGE_BUCKET</key>
	<string>whilabel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737612668977:ios:39608ec615e819220eb510</string>
	<key>DATABASE_URL</key>
	<string>https://whilabel-default-rtdb.firebaseio.com</string>
</dict>
</plist>